@import url("./design.css");

body{
    background: hsl(var(--clr-light));
}

h4{
    color: hsl( var(--clr-grey-light));
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width :70rem;
    height: 50rem;
}

/* header */

.header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45rem;
    margin-bottom: 1.5rem;
    color: var(--clr-grey-light);
}

.switch-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}



.switch-container i{
    background-image: url('./starter-code/assets/icon-moon.svg');
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}


/* main section */

.section-search{
    margin-bottom: 2rem;
}

.results{
    background: hsl(var(--clr-white));
    border-radius: 15px;
    box-shadow: 8px 8px 12px #aaa;
    padding: 2rem;
    display: flex;
    max-width: 45rem;
}

.results .img-profile{
    width: 6rem; 
    height: 6rem;
    margin-right: 2rem;
    border-radius: 50px;
    box-shadow: 8px 8px 12px #aaa;
    margin: 1rem;
}

.results .results__joined-date {
    margin-top: 0.8rem;
}

.results__profil-pres{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5rem;
    margin-bottom: 2rem;
}

    /* détail bloc */

.detail-block{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background: hsl(var(--clr-light));
    margin: 2rem 0;
    padding: 1rem 2rem;
    border-radius: 15px;
}

    /* social */

.social-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.social-cont > div{
    width: 50%;
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.location i {
    background-image: url("./starter-code/assets/icon-location.svg");
    width: 1rem;
    
    background-size: contain;
    background-repeat: no-repeat;
}

.twitter i {
    background-image: url("./starter-code/assets/icon-twitter.svg");
    width: 1rem;
    
    background-size: contain;
    background-repeat: no-repeat;
} 

.link i {
    background-image: url("./starter-code/assets/icon-website.svg");
    width: 1rem;
    
    background-size: contain;
    background-repeat: no-repeat;
}

.company i {
    background-image: url("./starter-code/assets/icon-company.svg");
    width: 1rem;
    
    background-size: contain;
    background-repeat: no-repeat;
}

/* no results */


.no-res{
    display: none;
}

/* dark theme */



body.dark-theme{
    background: hsl( var(--clr-dark-dark) );
    color: white;

}

h4.dark-theme{
    color: white;
    
}


.results.dark-theme{
    background: hsl(var(--clr-dark-blue-dark));
    color:white;
}

.detail-block.dark-theme{
    background: hsl( var(--clr-dark-dark) );
}

.switch-container i.dark-theme{
    background-image: url("./starter-code/assets/icon-sun.svg");
}

.social-cont i.dark-theme{
    color-scheme: white;
}